- ninner: {{ninner_1}}
  gradient norm reduction: {{grad_red_1}}
  geometry:
    mom6_input_nml: mom_input.nml
    fields metadata: {{soca_files_path}}/fields_metadata.yaml
  diagnostics:
    departures: ombg
