output:
  state component:
    datadir: {{final_increment_dir}}
    date: '{{window_begin}}'
    exp: {{final_increment_exp}}
    type: incr
geometry:
  mom6_input_nml: mom_input.nml
  fields metadata: {{soca_files_path}}/fields_metadata.yaml
