rescaling factors:
  mass_fraction_of_sulfate_in_air:
    rescaling factor: 0.25
  mass_fraction_of_hydrophobic_black_carbon_in_air:
    ocean rescaling factor: 0.1
    land rescaling factor: 0.1
  mass_fraction_of_hydrophilic_black_carbon_in_air:
    ocean rescaling factor: 0.1
    land rescaling factor: 0.1
  mass_fraction_of_sea_salt001_in_air:
    ocean rescaling factor: 0.25
    land rescaling factor: 0.25
  mass_fraction_of_sea_salt002_in_air:
    ocean rescaling factor: 0.25
    land rescaling factor: 0.25
  mass_fraction_of_sea_salt003_in_air:
    ocean rescaling factor: 0.25
    land rescaling factor: 0.25
  mass_fraction_of_sea_salt004_in_air:
    ocean rescaling factor: 0.25
    land rescaling factor: 0.25