time window:
  begin: '{{ stat_current_cycle_iso }}'
  length: '{{ window_length }}'
  bound to include: '{{ bound_to_include | default("begin", true) }}'

observers:
{% for obspace in observations %}
{% filter indent(width=2) %}
{% include model + '_' + obspace + '_template.yaml.j2' %}
{% endfilter %}
{% endfor %}
