input geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ snow_layout_x }}
  - {{ snow_layout_y }}
  npx: {{ snow_npx_ges }}
  npy: {{ snow_npy_ges }}
  npz: {{ snow_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_restart.yaml
output geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ snow_layout_x }}
  - {{ snow_layout_y }}
  npx: {{ snow_npx_ges }}
  npy: {{ snow_npy_ges }}
  npz: {{ snow_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
states:
- input:
    datetime: "{{ snow_background_time_iso }}"
    filetype: fms restart
    prefix: snowinc
    state variables: {{ analysis_variables }}
    datapath: ./
  output:
    filetype: auxgrid
    gridtype: gaussian
    filename: snowi006.
