variables: {{ analysis_variables }}
background geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ snow_layout_x }}
  - {{ snow_layout_y }}
  npx: {{ snow_npx_ges }}
  npy: {{ snow_npy_ges }}
  npz: {{ snow_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ snow_layout_x }}
  - {{ snow_layout_y }}
  npx: {{ snow_npx_ges }}
  npy: {{ snow_npy_ges }}
  npz: {{ snow_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_restart.yaml
additions:
{% for ihour in range( snow_iau_hours | length ) %}
- datetime: {{ snow_iau_times_iso[ihour] }}
  background:
    filetype: cube sphere history
    provider: ufs
    filename: {{ atmosphere_variational_history_prefix }}cubed_sphere_grid_sfcf{{ '%03d' % snow_iau_hours[ihour] }}.nc
    datapath: ./
  increment:
    filetype: fms restart
    filename is datetime templated: true
    filename_sfcd: '%yyyy%mm%dd.%hh%MM%ss.sfc_data.nc'
    prefix: snowinc
    datapath: ./
  analysis:
    filetype: auxgrid
    gridtype: gaussian
    filename: {{ atmosphere_variational_history_prefix }}snowa{{ '%03d' % snow_iau_hours[ihour] }}.
{% endfor %}
