forecast hours: ['006']
window begin: {{ window_begin }}
atmospheric variables:
- cloud_liquid_water
- layer_thickness
- air_pressure_thickness
- cloud_liquid_ice
- ozone_mass_mixing_ratio
- water_vapor_mixing_ratio_wrt_moist_air
- air_temperature
- eastward_wind
- northward_wind
background geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
ensemble mean analysis geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_anl }}
  npy: {{ atmosphere_npy_anl }}
  npz: {{ atmosphere_npz_anl }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
correction increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_anl }}
  npy: {{ atmosphere_npy_anl }}
  npz: {{ atmosphere_npz_anl }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
additions from template:
  pattern: '%hr%'
  template:
    atmospheric background:
      filetype: cube sphere history
      provider: ufs
      filename: ./atmf%hr%.nc
    atmospheric increment:
      filetype: fms restart
      is restart: false
      filename_nonrestart: ./atmi%hr%.nc
    atmospheric ensemble mean analysis:
      filetype: cube sphere history
      provider: ufs
      filename: ./atma%hr%.ensmean.nc
    atmospheric correction increment:
      filetype: fms restart
      is restart: false
      filename_nonrestart: ./catmi%hr%.nc
    atmospheric increment to structured grid:
      grid type: regular gaussian
      local interpolator type: oops unstructured grid interpolator
      all model levels: true
      number of latitude gridpoints: 96
      prefix: atminc
      use time dimension: true
      use dummy surface levels: false
      level first dimension ordering: true
      variables to output:
      - cloud_liquid_water
      - layer_thickness
      - air_pressure_thickness
      - cloud_liquid_ice
      - ozone_mass_mixing_ratio
      - water_vapor_mixing_ratio_wrt_moist_air
      - air_temperature
      - eastward_wind
      - northward_wind
      field aliases:
        dimensions:
        - name: longitude
          io name: grid_xt
          variable io name: grid_xt
        - name: latitude
          io name: grid_yt
          variable io name: grid_yt
        - name: levels
          io name: pfull
          variable io name: pfull
        variables
        - name: cloud_liquid_water
          io name: clwmr
        - name: layer_thickness
          io name: delz
        - name: air_pressure_thickness
          io name: delp
        - name: cloud_liquid_ice
          io name: icmr
        - name: ozone_mass_mixing_ratio
          io name: o3mr
        - name: water_vapor_mixing_ratio_wrt_moist_air
          io name: spfh
        - name: air_temperature
          io name: tmp
        - name: eastward_wind
          io name: ugrd
        - name: northward_wind
          io name: vgrd
