datetime: '{{ current_cycle | to_isotime }}'
forecast hours: ['06']
increment variables: [ua,va,t,sphum,ice_wat,liq_wat,o3mr,delp,hydrostatic_delz]
analysis variables: [ua,va,t,sphum,ice_wat,liq_wat,o3mr,delp,hydrostatic_delz,
                     w,graupel,surface_geopotential_height,ice_nc,rain_nc,ps,rainwat,snowwat]
geometries:
  increment:
    fms initialization:
      namelist filename: ./fv3jedi/fmsmpp.nml
      field table filename: ./fv3jedi/field_table
    akbk: ./fv3jedi/akbk.nc4
    layout:
    - {{ layout_x }}
    - {{ layout_y }}
    npx: {{ npx_anl }}
    npy: {{ npy_anl }}
    npz: {{ npz_anl }}
    field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
  full resolution state:
    fms initialization:
      namelist filename: ./fv3jedi/fmsmpp.nml
      field table filename: ./fv3jedi/field_table
    akbk: ./fv3jedi/akbk.nc4
    layout:
    - {{ layout_x }}
    - {{ layout_y }}
    npx: {{ npx_ges }}
    npy: {{ npy_ges }}
    npz: {{ npz_ges }}
    field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
  ensemble resolution state:
    fms initialization:
      namelist filename: ./fv3jedi/fmsmpp.nml
      field table filename: ./fv3jedi/field_table
    akbk: ./fv3jedi/akbk.nc4
    layout:
    - {{ layout_x }}
    - {{ layout_y }}
    npx: {{ npx_anl }}
    npy: {{ npy_anl }}
    npz: {{ npz_anl }}
    field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
io from template: 
  pattern: '%hr%'
  template:
    increment:
        filetype: cube sphere history
        filename: ./calcanl_%hr%/siginc.nc.%hr%
        provider: ufs
    full resolution states:
      background:
        filetype: cube sphere history
        filename: ./calcanl_%hr%/ges.%hr%
        provider: ufs
      analysis: 
        filetype: auxgrid
        gridtype: gaussian
        filename: ./calcanl_%hr%/anl.%hr%.
    ensemble resolution states:
      background:
        filetype: cube sphere history
        filename: ./calcanl_ensres_%hr%/ges.ensres.%hr%
        provider: ufs
      analysis:
        filetype: auxgrid
        gridtype: gaussian
        filename: ./calcanl_ensres_%hr%/anl.ensres.%hr%.
