forecast hours: ['006']
window begin: {{ window_begin }}
atmospheric variables:
- cloud_liquid_water
- layer_thickness
- air_pressure_thickness
- cloud_liquid_ice
- ozone_mass_mixing_ratio
- water_vapor_mixing_ratio_wrt_moist_air
- air_temperature
- eastward_wind
- northward_wind
increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
background geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
ensemble mean analysis geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_anl }}
  npy: {{ atmosphere_npy_anl }}
  npz: {{ atmosphere_npz_anl }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
correction increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_anl }}
  npy: {{ atmosphere_npy_anl }}
  npz: {{ atmosphere_npz_anl }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
additions from template:
  pattern: '%hr%'
  template:
    atmospheric increment:
      filetype: fms restart
      is restart: false
      filename_nonrestart: ./cubed_sphere_grid_atmi%hr%.nc
    atmospheric background:
      filetype: cube sphere history
      provider: ufs
      filename: ./cubed_sphere_grid_atmf%hr%.nc
    atmospheric ensemble mean analysis:
      filetype: cube sphere history
      provider: ufs
      filename: ./cubed_sphere_grid_atma%hr%.ensmean.nc
    atmospheric correction increment:
      filetype: fms restart
      is restart: false
      filename_nonrestart: ./cubed_sphere_grid_catmi%hr%.nc
