forecast hours: ['006']
window begin: {{ window_begin }}
atmospheric state variables:
- cloud_liquid_water
- layer_thickness
- air_pressure_thickness
- upward_air_velocity
- graupel
- geopotential_height_at_surface
- cloud_liquid_ice
- cloud_ice_number_concentration
- ozone_mass_mixing_ratio
- vertical_pressure_velocity
- air_pressure_at_surface
- rain_water
- snow_water
- water_vapor_mixing_ratio_wrt_moist_air
- air_temperature
- eastward_wind
- northward_wind
surface state variables:
- mean_nir_albedo_with_strong_cosz_dependency
- mean_nir_albedo_with_weak_cosz_dependency
- mean_vis_albedo_with_strong_cosz_dependency
- mean_vis_albedo_with_weak_cosz_dependency
- canopy_water
- instantaneous_categorical_rain
- f10m
- fractional_coverage_with_strong_cosz_dependency
- fractional_coverage_with_weak_cosz_dependency
- fh_parameter_from_PBL_scheme
- fm_parameter_from_PBL_scheme
- surface_velocity_scale
- ice_area_fraction
- sea_ice_category_thickness
- slmsk
- geopotential_height_at_surface
- surface_roughness_length
- maximum_fractional_coverage_of_green_vegetation
- minimum_fractional_coverage_of_green_vegetation
- surface_slope_type
- maximum_snow_albedo_in_fraction
- totalSnowDepth
- liquid_soil_moisture_at_layer-1
- liquid_soil_moisture_at_layer-2
- liquid_soil_moisture_at_layer-3
- liquid_soil_moisture_at_layer-4
- soil_temperature_at_layer-1
- soil_temperature_at_layer-2
- soil_temperature_at_layer-3
- soil_temperature_at_layer-4
- volumetric_soil_moisture_at_layer-1
- volumetric_soil_moisture_at_layer-2
- volumetric_soil_moisture_at_layer-3
- volumetric_soil_moisture_at_layer-4
- soil_type
- 2m_specific_humidity
- deep_soil_temperature
- surface_temperature_over_ice_fraction
- air_temperature_at_2m
- skin_temperature_at_surface
- total_precipitation
- vegetation_area_fraction
- vtype
- surface_snow_water_equivalent
- nsst_coefficient1_to_calculate_d(tz)/d(ts)
- nsst_coefficient2_to_calculate_d(tz)/d(ts)
- nsst_thickness_of_free_convection_layer
- nsst_sub-layer_cooling_amount
- nsst_sensible_heat_flux_due_to_rainfall
- nsst_reference_or_foundation_temperature
- nsst_coefficient3_to_calculate_d(tz)/d(ts)
- nsst_coefficient4_to_calculate_d(tz)/d(ts)
- nsst_salinity_content_in_diurnal_thermocline_layer
- nsst_heat_content_in_diurnal_thermocline_layer
- nsst_d(xt)/d(ts)
- nsst_u-current_content_in_diurnal_thermocline_layer
- nsst_v-current_content_in_diurnal_thermocline_layer
- nsst_diurnal_thermocline_layer_thickness
- nsst_d(xt)/d(ts)
- nsst_sub-layer_cooling_thickness
background geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
ensemble mean analysis geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_anl }}
  npy: {{ atmosphere_npy_anl }}
  npz: {{ atmosphere_npz_anl }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
correction increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_anl }}
  npy: {{ atmosphere_npy_anl }}
  npz: {{ atmosphere_npz_anl }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
additions from template:
  pattern: '%hr%'
  template:
    atmospheric background:
      filetype: cube sphere history
      provider: ufs
      filename: ./atmf%hr%.nc
    surface background:
      filetype: cube sphere history
      provider: ufs
      filename: ./sfcf%hr%.nc
    atmospheric increment:
      filetype: fms restart
      is restart: false
      filename_nonrestart: ./atmi%hr%.nc
    atmospheric ensemble mean analysis:
      filetype: cube sphere history
      provider: ufs
      filename: ./atma%hr%.ensmean.nc
    atmospheric correction increment:
      filetype: fms restart
      is restart: false
      filename_nonrestart: ./catmi%hr%.nc
    atmospheric analysis to structured grid:
      grid type: regular gaussian
      local interpolator type: oops unstructured grid interpolator
      all model levels: true
      number of latitude gridpoints: 96
      prefix: atmanl
      use time dimension: true
      use dummy surface levels: false
      level first dimension ordering: true
      variables to output:
      - cloud_liquid_water
      - layer_thickness
      - air_pressure_thickness
      - upward_air_velocity
      - graupel
      - geopotential_height_at_surface
      - cloud_liquid_ice
      - cloud_ice_number_concentration
      - ozone_mass_mixing_ratio
      - vertical_pressure_velocity
      - air_pressure_at_surface
      - rain_water
      - snow_water
      - water_vapor_mixing_ratio_wrt_moist_air
      - air_temperature
      - eastward_wind
      - northward_wind
      field aliases:
        dimensions:
        - name: longitude
          io name: grid_xt
          variable io name: grid_xt
        - name: latitude
          io name: grid_yt
          variable io name: grid_yt
        - name: levels
          io name: pfull
          variable io name: pfull
        variables
        - name: cloud_liquid_water
          io name: clwmr
        - name: layer_thickness
          io name: delz
        - name: air_pressure_thickness
          io name: delp
        - name: upward_air_velocity
          io name: dzdt
        - name: graupel
          io name: grle
        - name: geopotential_height_at_surface
          io name: hgtsfc
        - name: cloud_liquid_ice
          io name: icmr
        - name: cloud_ice_number_concentration
          io name: nccice
        - name: ozone_mass_mixing_ratio
          io name: o3mr
        - vertical_pressure_velocity
          io name: omga
        - name: air_pressure_at_surface
          io name: pressfc
        - name: rain_water
          io name: rwmr
        - name: snow_water
          io name: snmr
        - name: water_vapor_mixing_ratio_wrt_moist_air
          io name: spfh
        - name: air_temperature
          io name: tmp
        - name: eastward_wind
          io name: ugrd
        - name: northward_wind
          io name: vgrd
    surface analysis to structured grid:
      grid type: regular gaussian
      local interpolator type: oops unstructured grid interpolator
      all model levels: true
      number of latitude gridpoints: 96
      prefix: sfcanl
      use time dimension: true
      use dummy surface levels: false
      level first dimension ordering: true
      variables to output:
      - mean_nir_albedo_with_strong_cosz_dependency
      - mean_nir_albedo_with_weak_cosz_dependency
      - mean_vis_albedo_with_strong_cosz_dependency
      - mean_vis_albedo_with_weak_cosz_dependency
      - canopy_water
      - instantaneous_categorical_rain
      - f10m
      - fractional_coverage_with_strong_cosz_dependency
      - fractional_coverage_with_weak_cosz_dependency
      - fh_parameter_from_PBL_scheme
      - fm_parameter_from_PBL_scheme
      - surface_velocity_scale
      - ice_area_fraction
      - sea_ice_category_thickness
      - slmsk
      - geopotential_height_at_surface
      - surface_roughness_length
      - maximum_fractional_coverage_of_green_vegetation
      - minimum_fractional_coverage_of_green_vegetation
      - surface_slope_type
      - maximum_snow_albedo_in_fraction
      - totalSnowDepth
      - liquid_soil_moisture_at_layer-1
      - liquid_soil_moisture_at_layer-2
      - liquid_soil_moisture_at_layer-3
      - liquid_soil_moisture_at_layer-4
      - soil_temperature_at_layer-1
      - soil_temperature_at_layer-2
      - soil_temperature_at_layer-3
      - soil_temperature_at_layer-4
      - volumetric_soil_moisture_at_layer-1
      - volumetric_soil_moisture_at_layer-2
      - volumetric_soil_moisture_at_layer-3
      - volumetric_soil_moisture_at_layer-4
      - soil_type
      - 2m_specific_humidity
      - deep_soil_temperature
      - surface_temperature_over_ice_fraction
      - air_temperature_at_2m
      - skin_temperature_at_surface
      - total_precipitation
      - vegetation_area_fraction
      - vtype
      - surface_snow_water_equivalent
      - nsst_coefficient1_to_calculate_d(tz)/d(ts)
      - nsst_coefficient2_to_calculate_d(tz)/d(ts)
      - nsst_thickness_of_free_convection_layer
      - nsst_sub-layer_cooling_amount
      - nsst_sensible_heat_flux_due_to_rainfall
      - nsst_reference_or_foundation_temperature
      - nsst_coefficient3_to_calculate_d(tz)/d(ts)
      - nsst_coefficient4_to_calculate_d(tz)/d(ts)
      - nsst_salinity_content_in_diurnal_thermocline_layer
      - nsst_heat_content_in_diurnal_thermocline_layer
      - nsst_d(xt)/d(ts)
      - nsst_u-current_content_in_diurnal_thermocline_layer
      - nsst_v-current_content_in_diurnal_thermocline_layer
      - nsst_diurnal_thermocline_layer_thickness
      - nsst_d(xt)/d(ts)
      - nsst_sub-layer_cooling_thickness
      field aliases:
        dimensions:
        - name: longitude
          io name: grid_xt
          variable io name: grid_xt
        - name: latitude
          io name: grid_yt
          variable io name: grid_yt
        - name: levels
          io name: pfull
          variable io name: pfull
        variables
        - name: mean_nir_albedo_with_strong_cosz_dependency
          io name: alnsf
        - name: mean_nir_albedo_with_weak_cosz_dependency
          io name: alnwf
        - name: mean_vis_albedo_with_strong_cosz_dependency
          io name: alvsf
        - name: mean_vis_albedo_with_weak_cosz_dependency
          io name: alvwf
        - name: canopy_water
          io name: cnwat
        - name: instantaneous_categorical_rain
          io name: crain
        - name: f10m
          io name: f10m
        - name: fractional_coverage_with_strong_cosz_dependency
          io name: facsf
        - name: fractional_coverage_with_weak_cosz_dependency
          io name: facwf
        - name: fh_parameter_from_PBL_scheme
          io name: ffhh
        - name: fm_parameter_from_PBL_scheme
          io name: ffmm
        - name: surface_velocity_scale
          io name: fricv
        - name: ice_area_fraction
          io name: icec
        - name: sea_ice_category_thickness
          io name: icetk
        - name: slmsk
          io name: land
        - name: geopotential_height_at_surface
          io name: orog
        - name: surface_roughness_length
          io name: sfcr
        - name: maximum_fractional_coverage_of_green_vegetation
          io name: shdmax
        - name: minimum_fractional_coverage_of_green_vegetation
          io name: shdmin
        - name: surface_slope_type
          io name: sltyp
        - name: maximum_snow_albedo_in_fraction
          io name: snoalb
        - name: totalSnowDepth
          io name: snod
        - name: liquid_soil_moisture_at_layer-1
          io name: soill1
        - name: liquid_soil_moisture_at_layer-2
          io name: soill2
        - name: liquid_soil_moisture_at_layer-3
          io name: soill3
        - name: liquid_soil_moisture_at_layer-4
          io name: soill4
        - name: soil_temperature_at_layer-1
          io name: soilt1
        - name: soil_temperature_at_layer-2
          io name: soilt2
        - name: soil_temperature_at_layer-3
          io name: soilt3
        - name: soil_temperature_at_layer-4
          io name: soilt4
        - name: volumetric_soil_moisture_at_layer-1
          io name: soilm1
        - name: volumetric_soil_moisture_at_layer-2
          io name: soilm2
        - name: volumetric_soil_moisture_at_layer-3
          io name: soilm3
        - name: volumetric_soil_moisture_at_layer-4
          io name: soilm4
        - name: soil_type
          io name: sotyp
        - name: 2m_specific_humidity
          io name: spfh2m
        - name: deep_soil_temperature
          io name: tg3
        - name: surface_temperature_over_ice_fraction
          io name: tisfc
        - name: air_temperature_at_2m
          io name: tmp2m
        - name: skin_temperature_at_surface
          io name: tmpsfc
        - name: total_precipitation
          io name: tprcp
        - name: vegetation_area_fraction
          io name: veg
        - name: vtype
          io name: vtype
        - name: surface_snow_water_equivalent
          io name: weasd
        - name: nsst_coefficient1_to_calculate_d(tz)/d(ts)
          io name: c0
        - name: nsst_coefficient2_to_calculate_d(tz)/d(ts)
          io name: cd
        - name: nsst_thickness_of_free_convection_layer
          io name: dconv
        - name: nsst_sub-layer_cooling_amount
          io name: dtcool
        - name: nsst_sensible_heat_flux_due_to_rainfall
          io name: qrain
        - name: nsst_reference_or_foundation_temperature
          io name: tref
        - name: nsst_coefficient3_to_calculate_d(tz)/d(ts)
          io name: w0
        - name: nsst_coefficient4_to_calculate_d(tz)/d(ts)
          io name: wd
        - name: nsst_salinity_content_in_diurnal_thermocline_layer
          io name: xs
        - name: nsst_heat_content_in_diurnal_thermocline_layer
          io name: xt
        - name: nsst_d(xt)/d(ts)
          io name: xtts
        - name: nsst_u-current_content_in_diurnal_thermocline_layer
          io name: xu
        - name: nsst_v-current_content_in_diurnal_thermocline_layer
          io name: xv
        - name: nsst_diurnal_thermocline_layer_thickness
          io name: xz
        - name: nsst_d(xt)/d(ts)
          io name: xzts
        - name: nsst_sub-layer_cooling_thickness
          io name: zc
