name: PSEUDO
datapath: {{ atmosphere_background_path}}
filetype: fms restart
filename is datetime templated: true
filename_core: '%yyyy%mm%dd.%hh%MM%ss.fv_core.res.nc'
filename_trcr: '%yyyy%mm%dd.%hh%MM%ss.fv_tracer.res.nc'
filename_sfcd: '%yyyy%mm%dd.%hh%MM%ss.sfc_data.nc'
filename_sfcw: '%yyyy%mm%dd.%hh%MM%ss.fv_srf_wnd.res.nc'
filename_cplr: '%yyyy%mm%dd.%hh%MM%ss.coupler.res'
tstep: {{atmosphere_forecast_timestep}}
model variables:
- eastward_wind
- northward_wind
- air_temperature
- air_pressure_thickness
- air_pressure_at_surface
- water_vapor_mixing_ratio_wrt_moist_air
- cloud_liquid_ice
- cloud_liquid_water
- ozone_mass_mixing_ratio
- geopotential_height_at_surface
- slmsk
- sheleg
- skin_temperature_at_surface
- vtype
- stype
- vfrac
- soilt
- soilm
- totalSnowDepthMeters
- eastward_wind_at_surface
- northward_wind_at_surface
- f10
