datapath: {{ snow_background_path }}
filetype: fms restart
skip coupler file: true
datetime: '{{ current_cycle | to_isotime }}'
state variables: [snodl,vtype,slmsk]
filename_sfcd: '{{ current_cycle | to_fv3time }}.sfc_data.nc'
filename_cplr: '{{ current_cycle | to_fv3time }}.coupler.res'
