covariance model: SABER
saber central block:
  saber block name: BUMP_NICAS
  read:
    general:
      universe length-scale: 300000.0
    drivers:
      multivariate strategy: univariate
      read global nicas: true
    nicas:
      explicit length-scales: true
      horizontal length-scale:
      - groups:
        - totalSnowDepth_fakeLevels
        value: 300000.0
      vertical length-scale:
      - groups:
        - totalSnowDepth_fakeLevels
        value: 0.0
      interpolation type:
      - groups:
        - totalSnowDepth_fakeLevels
        type: c0
      same horizontal convolution: true
    io:
      data directory: {{snow_bump_data_directory}}
      files prefix: snow_bump_nicas_300km_fakelevels
saber outer blocks:
- saber block name: FakeLevels
  fields metadata:
    totalSnowDepth:
      vert_coord: filtered_orography
  calibration:
    number of fake levels: 50
    lowest fake level: -450.0
    highest fake level: 8850.0
    vertical length-scale: 2000.0
- saber block name: BUMP_StdDev
  read:
    drivers:
      compute variance: true
    variance:
      explicit stddev: true
      stddev:
      - variables:
        - totalSnowDepth
        value: 30.0
