-

  # Observation Space (I/O)
  # -----------------------
  obs space:
    name: abi_g16
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdatain_path}}/{{atmosphere_obsdatain_prefix}}{{observation_from_jcb}}{{atmosphere_obsdatain_suffix}}"
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdataout_path}}/{{atmosphere_obsdataout_prefix}}{{observation_from_jcb}}{{atmosphere_obsdataout_suffix}}"
    io pool:
      max pool size: 1
    simulated variables: [brightnessTemperature]
    channels: &{{observation_from_jcb}}_simulated_channels {{ get_satellite_variable(observation_from_jcb, "simulated") }}

  # Observation Operator
  # --------------------
  obs operator:
    name: CRTM
    Absorbers: [H2O, O3, CO2]
    Clouds: [Water, Ice]
    Cloud_Fraction: 1.0
    obs options:
      Sensor_ID: &{{observation_from_jcb}}_sensor_id abi_g16 
      EndianType: little_endian
      CoefficientPath: "{{crtm_coefficient_path}}"
    linear obs operator:
      Absorbers: [H2O, O3]

  # Observation Bias Correction (VarBC)
  # -----------------------------------
  obs bias:
    input file: "{{atmosphere_obsbiasin_path}}/{{atmosphere_obsbiasin_prefix}}{{observation_from_jcb}}{{atmosphere_obsbiasin_suffix}}"
    output file: "{{atmosphere_obsbiasout_path}}/{{atmosphere_obsbiasout_prefix}}{{observation_from_jcb}}{{atmosphere_obsbiasout_suffix}}"
    variational bc:
      predictors:
      - name: constant
      - name: lapseRate
        order: 2
        tlapse: &{{observation_from_jcb}}_tlapse "{{atmosphere_obsbiasin_path}}/{{atmosphere_obstlapsein_prefix}}{{observation_from_jcb}}{{atmosphere_obstlapsein_suffix}}"
      - name: lapseRate
        tlapse: *{{observation_from_jcb}}_tlapse
      - name: emissivityJacobian
      - name: sensorScanAngle
        var_name: sensorScanPosition
        order: 4
      - name: sensorScanAngle
        var_name: sensorScanPosition
        order: 3
      - name: sensorScanAngle
        var_name: sensorScanPosition
        order: 2
      - name: sensorScanAngle
        var_name: sensorScanPosition
    covariance:
      minimal required obs number: 20
      variance range: [1.0e-6, 10.0]
      step size: 1.0e-4
      largest analysis variance: 10000.0
      prior:
        input file: "{{atmosphere_obsbiasin_path}}/{{atmosphere_obsbiascovin_prefix}}{{observation_from_jcb}}{{atmosphere_obsbiascovin_suffix}}"
        inflation:
          ratio: 1.1
          ratio for small dataset: 2.0
      output file: "{{atmosphere_obsbiasout_path}}/{{atmosphere_obsbiascovout_prefix}}{{observation_from_jcb}}{{atmosphere_obsbiascovout_suffix}}"

  # Observation Filters (QC)
  # ------------------------
  obs prior filters:
  - filter: Perform Action
    filter variables:
    - name: brightnessTemperature
      channels: *{{observation_from_jcb}}_simulated_channels
    action:
      name: assign error
      error parameter vector: &{{observation_from_jcb}}_err [{{ get_satellite_variable(observation_from_jcb, "error") }}]

  - filter: Variable Assignment
    assignments:
    - name: DerivedMetaData/surfaceFlag
      type: int
      function:
        name: IntObsFunction/Conditional
        options:
          defaultvalue: 4
          firstmatchingcase: true
          cases:
          - where:
            - variable:
                name: GeoVaLs/water_area_fraction
              minvalue: 0.99
            value: 0
          - where:
            - variable:
                name: GeoVaLs/land_area_fraction
              minvalue: 0.99
            value: 1
          - where:
            - variable:
                name: GeoVaLs/ice_area_fraction
              minvalue: 0.99
            value: 2
          - where:
            - variable:
                name: GeoVaLs/surface_snow_area_fraction
              minvalue: 0.99
            value: 3
  - filter: Variable Assignment
    assignments:
    - name: DerivedMetaData/surfaceParam
      type: int
      function:
        name: IntObsFunction/Conditional
        options:
          defaultvalue: 0
          firstmatchingcase: true
          cases:
          - where:
            - variable:
                name: GeoVaLs/water_area_fraction
              minvalue: 0.99
            value: 30
          - where:
            - variable:
                name: GeoVaLs/land_area_fraction
              minvalue: 0.99
            value: 15
          - where:
            - variable:
                name: GeoVaLs/ice_area_fraction
              minvalue: 0.99
            value: 20
          - where:
            - variable:
                name: GeoVaLs/surface_snow_area_fraction
              minvalue: 0.99
            value: 15

#  - filter: Variable Assignment
#    assignments:
#    - name: DerivedMetaData/thinningCriteria
#      type: int
#      function:
#        name: IntObsFunction/Arithmetic
#        options:
#          variables:
#          - name: DerivedMetaData/surfaceParam
#          coefs: [1]

  obs post filters:
# step 1: surface type check
  - filter: RejectList
    filter variables:
    - name: brightnessTemperature
      channels: 7, 11-16
    where:
    - variable:
        name: GeoVaLs/land_area_fraction
      minvalue: 0.99
  - filter: RejectList
    filter variables:
    - name: brightnessTemperature
      channels: *{{observation_from_jcb}}_simulated_channels
    where:
    - variable:
        name: GeoVaLs/surface_snow_area_fraction
      minvalue: 0.99
  - filter: RejectList
    filter variables:
    - name: brightnessTemperature
      channels: *{{observation_from_jcb}}_simulated_channels
    where:
    - variable:
        name: GeoVaLs/ice_area_fraction
      minvalue: 0.99
  - filter: RejectList
    filter variables:
    - name: brightnessTemperature
      channels: *{{observation_from_jcb}}_simulated_channels
    where:
    - variable:
        name: GeoVaLs/land_area_fraction
      maxvalue: 0.99
      max_exclusive: true
    - variable:
        name: GeoVaLs/water_area_fraction
      maxvalue: 0.99
      max_exclusive: true
    - variable:
        name: GeoVaLs/ice_area_fraction
      maxvalue: 0.99
      max_exclusive: true
    - variable:
        name: GeoVaLs/surface_snow_area_fraction
      maxvalue: 0.99
      max_exclusive: true

#step 2: BT range check
  - filter: Bounds Check
    filter variables:
    - name: brightnessTemperature
      channels: *{{observation_from_jcb}}_simulated_channels
    minvalue: 0.0
    maxvalue: 1000.0
    action:
      name: reject

#step 3: Model top transmittance check
  - filter: Perform Action
    filter variables:
    - name: brightnessTemperature
      channels: *{{observation_from_jcb}}_simulated_channels
    action:
      name: inflate error
      inflation variable:
        name: ObsFunction/ObsErrorFactorTransmitTopRad
        channels: *{{observation_from_jcb}}_simulated_channels
        options:
          channels: *{{observation_from_jcb}}_simulated_channels 
     
#step 4: Cloud detection
  - filter: Bounds Check
    filter variables:
    - name: brightnessTemperature
      channels: *{{observation_from_jcb}}_simulated_channels
    test variables:
    - name: ObsFunction/CloudDetectMinResidualIR
      channels: *{{observation_from_jcb}}_simulated_channels
      options:
        channels: *{{observation_from_jcb}}_simulated_channels
        use_flag: &{{observation_from_jcb}}_active_channels [{{ get_satellite_variable(observation_from_jcb, "active") }}]
        use_flag_clddet: [-2, -2, -2, -2, -2, -2, -2, -2, -2, -2]
        obserr_dtempf: [0.5, 2.0, 4.0, 2.0, 4.0]        
        error parameter vector: *{{observation_from_jcb}}_err
    maxvalue: 1.0e-12
    action:
      name: reject

#step 5: Scene Consistency Check based on ch13 (10.8 micron)
  - filter: Domain Check
    filter variables:
    - name: brightnessTemperature
      channels: 7, 10-16
    where:
    - variable:
        name: ClearSkyStdDev/brightnessTemperature
        channels: 13
      maxvalue: 0.5
      max_exclusive: true

#step 6: Scene Consistency Channels 8-10 Based on ch 8 SDTB
  - filter: Perform Action
    filter variables:
    - name: brightnessTemperature
      channels: 8-10
    where:
    - variable:
        name: ClearSkyStdDev/brightnessTemperature_8
      maxvalue: 0.5
      minvalue: 0.4
      min_exclusive: true
    action:
      name: inflate error
      inflation factor: 1.14891
  - filter: Perform Action
    filter variables:
    - name: brightnessTemperature
      channels: 8-10
    where:
    - variable:
        name: ClearSkyStdDev/brightnessTemperature_8
      maxvalue: 0.6
      max_exclusive: true
      minvalue: 0.5
      min_exclusive: true
    action:
      name: inflate error
      inflation factor: 1.29228
  - filter: Perform Action
    filter variables:
    - name: brightnessTemperature
      channels: 8-10
    where:
    - variable:
        name: ClearSkyStdDev/brightnessTemperature_8
      maxvalue: 0.7
      max_exclusive: true
      minvalue: 0.6
    action:
      name: inflate error
      inflation factor: 1.49666
  - filter: Perform Action
    filter variables:
    - name: brightnessTemperature
      channels: 8-10
    where:
    - variable:
        name: ClearSkyStdDev/brightnessTemperature_8
      minvalue: 0.7
    action:
      name: inflate error
      inflation factor: 1.51987

#step 7: Near SST Check 
  - filter: Bounds Check
    filter variables:
    - name: brightnessTemperature
      channels: *{{observation_from_jcb}}_simulated_channels
    test variables:
    - name: ObsFunction/NearSSTRetCheckIR
      channels: *{{observation_from_jcb}}_simulated_channels
      options:
        channels: *{{observation_from_jcb}}_simulated_channels
        use_flag: *{{observation_from_jcb}}_active_channels
    maxvalue: 1.0e-12
    action:
      name: reject

#step 8: Surface Jacobian
  - filter: Perform Action
    filter variables:
    - name: brightnessTemperature
      channels: *{{observation_from_jcb}}_simulated_channels
    action:
      name: inflate error
      inflation variable:
        name: ObsFunction/ObsErrorFactorSurfJacobianRad
        channels: *{{observation_from_jcb}}_simulated_channels
        options:
          channels: *{{observation_from_jcb}}_simulated_channels
          sensor: *{{observation_from_jcb}}_sensor_id
          obserr_demisf: [0.01, 0.02, 0.03, 0.02, 0.03]
          obserr_dtempf: [0.5, 2.0, 4.0, 2.0, 4.0]

#step 9: Channels 7, 10-16 Cloud fraction >2
  - filter: Domain Check
    filter variables:
    - name: brightnessTemperature
      channels: 7, 10-16
    where:
    - variable:
        name: MetaData/cloudAmount
      maxvalue: 2

#step 10: Variable assignment, OmF non bias corrected 
  - filter: Variable Assignment
    assignments:
    - name: OmFNBC@DerivedMetaData
      type: float
      function:
        name: ObsFunction/Arithmetic
        options:
          variables:
          - name: brightnessTemperature@ObsValue
            channels: 13
          - name: brightnessTemperature@HofX
            channels: 13
          - name: brightnessTemperature@ObsBiasData
            channels: 13
          - name: brightnessTemperature@ObsValue
            channels: 14
          - name: brightnessTemperature@HofX
            channels: 14
          - name: brightnessTemperature@ObsBiasData
            channels: 14
          coefs: [1, -1, 1, -1, 1, -1]

#step 11:Channels 7, 10-16, OmFNBC < -0.75 
  - filter: Domain Check
    filter variables:
    - name: brightnessTemperature
      channels: 7, 10-16
    where:
    - variable:
        name: OmFNBC@DerivedMetaData
      minvalue: -0.75
      max_exclusive: true

#step12: Final gross check
  - filter: Background Check
    filter variables:
    - name: brightnessTemperature
      channels: *{{observation_from_jcb}}_simulated_channels
    function absolute threshold:
    - name: ObsFunction/ObsErrorBoundIR
      channels: *{{observation_from_jcb}}_simulated_channels
      options:
        sensor: *{{observation_from_jcb}}_sensor_id
        channels: *{{observation_from_jcb}}_simulated_channels
        obserr_bound_latitude:
          name: ObsFunction/ObsErrorFactorLatRad
          options:
            latitude_parameters: [0.0, 0.0, 0.0, 0.0]
        obserr_bound_transmittop:
          name: ObsFunction/ObsErrorFactorTransmitTopRad
          channels: *{{observation_from_jcb}}_simulated_channels
          options:
            channels: *{{observation_from_jcb}}_simulated_channels
        obserr_bound_max: [{{ get_satellite_variable(observation_from_jcb, "ermax") }}]
        error parameter vector: *{{observation_from_jcb}}_err
    action:
      name: reject


  # GeoVaLs for Driving Observation Operators (testing mode)
  # --------------------------------------------------------
  geovals:
    filename: "{{atmosphere_obsdatain_path}}/{{atmosphere_obsdatain_prefix}}{{observation_from_jcb}}_geoval{{atmosphere_obsdatain_suffix}}"

  # Passed benchmark for UFO testing
  # --------------------------------
  passedBenchmark: 0

