-

  # Observation Space (I/O)
  # -----------------------
  obs space:
    name: sondes
{% if atm_letkf_app | default(false) %}
    distribution:
      name: "{{distribution_type}}"
      halo size: 1250e3
{% endif %}
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdatain_path}}/{{atmosphere_obsdatain_prefix}}{{observation_from_jcb}}{{atmosphere_obsdatain_suffix}}"
      obsgrouping:
        group variables: ["stationIdentification"]
        sort variable: "pressure"
        sort order: "descending"
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdataout_path}}/{{atmosphere_obsdataout_prefix}}{{observation_from_jcb}}{{atmosphere_obsdataout_suffix}}"
    io pool:
      max pool size: 1
    simulated variables: [airTemperature, virtualTemperature, windEastward, windNorthward,
      specificHumidity]

  # Observation Operator
  # --------------------
  obs operator:
    name: Composite
    components:
    - name: VertInterp
      variables:
      - name: airTemperature
      - name: virtualTemperature
      - name: windEastward
      - name: windNorthward
      - name: specificHumidity

  # Linear Observation Operator
  # ---------------------------
  linear obs operator:
    name: Composite
    components:
    - name: VertInterp
      variables:
      - name: airTemperature
      - name: virtualTemperature
      - name: windEastward
      - name: windNorthward
      - name: specificHumidity

  # Observation Filters (QC)
  # ------------------------
  obs filters:
  - filter: Variable Assignment
    assignments:
    - name: PreQC/airTemperature
      type: int 
      source variable: QualityMarker/airTemperature
    - name: PreQC/virtualTemperature
      type: int 
      source variable: QualityMarker/virtualTemperature
    - name: PreQC/windEastward
      type: int 
      source variable: QualityMarker/windEastward
    - name: PreQC/windNorthward
      type: int 
      source variable: QualityMarker/windNorthward
    - name: PreQC/specificHumidity
      type: int 
      source variable: QualityMarker/specificHumidity
    #
    # Reject all obs with PreQC mark already set above 3
  - filter: PreQC
    filter variables:
    - name: airTemperature
    - name: virtualTemperature
    - name: windEastward
    - name: windNorthward
    - name: specificHumidity
    maxvalue: 3
    action:
      name: reject

  - filter: Background Check
    filter variables:
    - name: airTemperature
    - name: virtualTemperature
    - name: windEastward
    - name: windNorthward
    - name: specificHumidity
    threshold: 8.0
    action:
      name: reject

{% if atm_letkf_app | default(false) %}
  # Observation Localizations (LocalEnsembleDA)
  # -------------------------------------------
  obs localizations:
  - localization method: Horizontal Gaspari-Cohn
    lengthscale: 1250e3
    max nobs: 10000
{% endif %}

  # GeoVaLs for Driving Observation Operators (testing mode)
  # --------------------------------------------------------
  geovals:
    filename: "{{atmosphere_obsdatain_path}}/{{atmosphere_obsdatain_prefix}}{{observation_from_jcb}}_geoval{{atmosphere_obsdatain_suffix}}"

  # Passed benchmark for UFO testing
  # --------------------------------
  passedBenchmark: 0
